---
import actionIcon from "../../icons/action-icon.svg?raw";
---

<div class="tw-h-[86px] tw-flex tw-flex-col tw-justify-end tw-w-[68px]">
  <div
    class="tw-gap-[14px] tw-flex tw-flex-col tw-items-center tw-justify-center tw-rounded-full tw-bg-[#4f62f0] tw-min-h-[68px] tw-min-w-[68px]"
  >
    <Fragment set:html={actionIcon} />
  </div>
</div>
