---
import taskIcon from "../../icons/task-icon.svg?raw";
---

<div
  class="tw-gap-[14px] tw-items-center tw-h-[86px] tw-flex tw-flex-col tw-justify-end tw-w-[68px]"
>
  <div class="tw-font-bold tw-text-sm tw-text-[#f2f2f2]">{`Task`}</div>
  <div
    class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-rounded-full tw-bg-[#f2f2f2] tw-min-h-[68px] tw-min-w-[68px]"
  >
    <Fragment set:html={taskIcon} />
  </div>
</div>
