---
import { useProps } from "../../../utils/props";

const props = useProps(Astro);
---

<div
  {...props}
  id="htmx-dialog-container"
  class="tw-flex tw-flex-row-reverse tw-justify-end tw-items-end tw-gap-3"
>
  <slot />
</div>
