---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    hx-get="/htmx/card-chat.html?shown=true&selected_id=htmx"
    hx-swap="outerHTML swap:300ms"
    hx-trigger="intersect once"
  >
  </div>
</Layout>
