---
import { useSearchParams } from "../../../utils/searchParams";

const { props, url } = Astro;

const [params] = useSearchParams({ url });

const keys = [...Object.keys(props), ...Object.keys(params)];

for (const key of keys) {
  props[key] = params[key] ?? props[key];
}

const align = props.align;

const shown = props.shown === "true";

const key = props.key;

const onClickParams = new URLSearchParams();

for (const k of keys) {
  onClickParams.set(k, props[k]);
}

onClickParams.set("shown", `${!shown}`);
---

<div
  {...props}
  id={`htmx-chat-bubble-more-${key}`}
  class="htmx-chat-bubble-more tw-relative tw-overflow-visible tw-w-8 tw-h-8 tw-flex tw-flex-col tw-items-center tw-justify-start tw-flex-none"
>
  <style is:inline>
    .htmx-chat-bubble-more.htmx-swapping > * {
      transform: scale(0%)
      opacity: 0;
    }

    .htmx-chat-bubble-more.htmx-added > * {
      transform: scale(0%)
      opacity: 0;
    }

    .htmx-chat-bubble-more > * {
      transform: scale(100%)
      opacity: 1;
      transition: all 300ms ease;
    }
  </style>
  <button
    class="tw-font-bold"
    hx-get=`/htmx/chat.html/bubble-more?${onClickParams.toString()}`
    hx-swap="outerHTML swap:300ms"
    hx-trigger="click"
    hx-target={`#htmx-chat-bubble-more-${key}`}>{`. . .`}</button
  >
  <div
    id={`htmx-chat-bubble-more-dialog-${key}`}
    class="tw-absolute tw-flex-col tw-items-start tw-justify-start tw-rounded-md tw-border tw-border-[#bdbdbd] tw-divide-y tw-divide-[#bdbddb] tw-bg-white tw-py-2 tw-gap-2"
    style={{
      right: align === "right" ? "0%" : undefined,
      left: align === "right" ? undefined : "0%",
      top: "2rem",
      opacity: shown ? 1 : 0,
      "z-index": shown ? undefined : -50,
      transform: shown ? undefined : "scale(0%)",
    }}
  >
    <button class="tw-w-32 tw-px-2 tw-inline tw-text-left tw-py-2">{`Edit`}</button>
    <button class="tw-w-32 tw-px-2 tw-inline tw-text-left tw-py-2">{`Delete`}</button>
  </div>
</div>
