---
import ActionFAB from "../fabs/ActionFAB.astro";
import InboxFAB from "../fabs/InboxFAB.astro";
import TaskFAB from "../fabs/TaskFAB.astro";

const { props } = Astro;

const opened = props.opened === "true";
---

<style>
  #view-bar-fab.htmx-swapping {
    opacity: 0;
    transition: all 700ms ease;
  }

  #view-bar-fab {
    opacity: 1;
    transition: all 700ms ease;
  }

  #view-bar-fab.htmx-added {
    opacity: 0;
  }

  #view-bar-fab-action {
    opacity: 1;
  }
</style>

<div
  id="view-bar-fab"
  class="tw-absolute tw-right-[34px] tw-bottom-[27px] tw-flex tw-flex-row-reverse tw-items-center tw-justify-end tw-gap-[26px]"
  {...opened === false
    ? {}
    : {
        "hx-get": "/api/view/bar/fab?opened=false",
        "hx-swap": "outerHTML",
        "hx-trigger": "mouseleave once",
        "hx-target": "#view-bar-fab",
      }}
>
  <ActionFAB
    id="view-bar-fab-action"
    {...opened
      ? {}
      : {
          "hx-swap": "outerHTML",
          "hx-get": "/api/view/bar/fab?opened=true",
          "hx-trigger": "mouseenter once",
          "hx-target": "#view-bar-fab",
        }}
  />
  {
    opened && (
      <Fragment>
        <InboxFAB />
        <TaskFAB />
      </Fragment>
    )
  }
</div>
