---
import searchIcon from "../../assets/search-icon.svg?raw";
---

<div
  class="tw-w-full tw-h-[58px] tw-bg-[#4F4F4F] tw-flex tw-flex-row tw-items-center tw-justify-start tw-px-6"
>
  <Fragment set:html={searchIcon} />
</div>
