---
import { useSearchParams } from "../../utils/searchParams";

const id = "htmx-card-chat-controller";

const { props, url } = Astro;

const [params] = useSearchParams({ url });

const keys = [...Object.keys(props), ...Object.keys(params)];

for (const key of keys) {
  props[key] = params[key] ?? props[key];
}

const selected_id = props.selected_id;

const barFabEndpointParams = new URLSearchParams();

barFabEndpointParams.set("selected_id", selected_id);
barFabEndpointParams.set("expanded", `${true}`);

const barFabEndpoint = `/htmx/bar-fab.html?${barFabEndpointParams.toString()}`;
---

<div
  id={id}
  hx-get={barFabEndpoint}
  hx-trigger="intersect once"
  hx-target="#htmx-bar-fab"
  hx-swap="outerHTML swap:300ms"
  style={{ position: "absolute", opacity: 0, "z-index": -50 }}
>
</div>
