---
import actionIcon from "../../assets/action-icon.svg?raw";

const { props } = Astro;

const expanded = props.expanded === "true";

const endpoint = `/htmx/bar-fab.html?expanded=${!expanded}`;

const selected_id = props.selected_id;
---

<button
  {...props}
  id="htmx-fab-action"
  class="tw-h-[110px] tw-flex tw-flex-col tw-justify-end tw-w-[68px] tw-z-10"
  hx-get={endpoint}
  hx-swap="outerHTML swap:300ms"
  hx-trigger="click once"
  hx-target="#htmx-bar-fab"
  style={{
    transition: "all 300ms ease",
    transform: !!selected_id ? "scale(0%)" : "scale(100%)",
    position: !!selected_id ? "absolute" : undefined,
  }}
>
  <div
    class="tw-gap-[14px] tw-flex tw-flex-col tw-items-center tw-justify-center tw-rounded-full tw-bg-[#4f62f0] tw-min-h-[68px] tw-min-w-[68px]"
  >
    <Fragment set:html={actionIcon} />
  </div>
</button>
