---
import inboxIcon from "../../icons/inbox-icon.svg?raw";

const props = Astro.props;
---

<div
  class="tw-gap-[14px] tw-items-center tw-h-[110px] tw-flex tw-flex-col tw-justify-end tw-w-[68px]"
  {...props}
>
  <div class="tw-font-bold tw-text-sm tw-text-[#f2f2f2]">{`Inbox`}</div>
  <div
    class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-rounded-full tw-bg-[#f2f2f2] tw-min-h-[68px] tw-min-w-[68px]"
  >
    <Fragment set:html={inboxIcon} />
  </div>
</div>
