---
import searchIcon from "../../icons/search-dark-icon.svg?raw";
---

<div
  class="tw-rounded-md tw-w-full tw-border tw-border-[#828282] tw-h-8 tw-flex tw-flex-row tw-items-center tw-justify-center tw-px-[58px]"
>
  <div class="tw-text-sm">{`Search`}</div>
  <div class="tw-w-full"></div>
  <Fragment set:html={searchIcon} />
</div>
