---
import searchIcon from "../../assets/search-dark-icon.svg?raw";
---

<div
  class="tw-rounded-md tw-w-full tw-border tw-border-[#828282] tw-h-8 tw-flex tw-flex-row tw-items-center tw-justify-center"
>
  <input
    class="tw-w-full tw-h-full tw-text-[#333333] tw-placeholder-[#333333] tw-pl-[58px] tw-pr-[82px] tw-bg-transparent"
    placeholder="Search"
  />
  <div class="tw-absolute tw-right-[58px]">
    <Fragment set:html={searchIcon} />
  </div>
</div>
