---
import "../styles/main.css";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? `Quicks`}</title>
    <ViewTransitions />
  </head>
  <body>
    <style is:inline>
      body {
        z-index: 0;
      }

      *.htmx-added * {
        opacity: 0;
        transform: scale(0%);
      }

      *.htmx-swapping * {
        opacity: 0;
        transform: scale(0%);
      }

      * {
        min-width: 0;
        opacity: 1;
        transform: scale(100%);
        transition: all 300ms ease;
      }

      astro-dev-toolbar * {
        position: absolute;
      }
    </style>
    <script>
      import htmx from "htmx.org";

      /// Set up htmx default swap delay
      htmx.config.defaultSwapDelay = 300;

      /// Clean up leftover htmx-settlings
      htmx.on("htmx:afterSettle", function () {
        const settlings = [...document.getElementsByClassName("htmx-settling")];

        for (const settling of settlings) {
          try {
            htmx.remove(settling);
          } catch (e) {
            /// Noop
          }
        }

        htmx.process(document.body);
      });
    </script>
    <div
      class="tw-font-lato tw-relative tw-overflow-auto tw-bg-[#333333] tw-min-h-screen tw-max-h-screen tw-min-w-full tw-max-w-full"
    >
      <div
        class="tw-absolute tw-min-w-[1120px] tw-min-h-[960px] tw-w-full tw-h-screen"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
